- name: "Configure /etc/default/elasticsearch"
  template:
    dest: "/etc/default/elasticsearch"
    src: "defaults_elasticsearch.j2"
    backup: yes
  tags: [es2-configure, es2-configure-defaults]
- name: "Configure elasticsearch.yml"
  template:
    dest: "/etc/elasticsearch/elasticsearch.yml"
    src: "elasticsearch.yml.j2"
    backup: yes
  tags: [es2-configure, es2-configure-main]
